# --- Project Specifics ---
.DS_Store
__pycache__/
*.py[cod]
archive/
development/
raw_sources/
raw/

# experiments
src/models/saved_weights/experiments

# --- Audio & Features (The "Big" Stuff) ---
# We ignore all contents of data, but keep the directory
data/*
data/test/IRMAS

!data/README.md
!data/scripts/
!data/test/
!data/test/a-touch-of-zen/
!data/test/a-touch-of-zen/*
!data/.gitkeep
data/test/other

# Ignore weights and logs
*.pth
*.ckpt
*.log


.gradio/

# --- Environment & IDE ---
.venv/
.vscode/
.idea/
.ipynb_checkpoints/

# --- Distribution / Packaging ---
build/
dist/
*.egg-info/
